<div class="sidebar sidebar-main">
    <div id="layered-filter-block" class="block filter" data-collapsible="true">
        <div class="block-title filter-title" data-count="0" role="tablist">
            <strong aria-expanded="false" aria-selected="false" data-role="title" role="tab" tabindex="0">
                Shop By</strong></div>
        <div class="block-content filter-content">
            <strong aria-level="2" class="block-subtitle filter-subtitle" role="heading">
                Shopping Options</strong>

            <div id="narrow-by-list" class="filter-options" data-role="content" role="tablist">
                <div class="filter-options-item" data-collapsible="true" data-role="collapsible" role="presentation">
                    <div aria-expanded="false" aria-selected="false" class="filter-options-title" data-role="title"
                         role="tab" tabindex="0">
                        Recommended
                    </div>
                    <div aria-hidden="true" class="filter-options-content" data-role="content" role="tabpanel"
                         style="display: none;">
                        <ol class="items">
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=20-30">
                                    <span class="price">$20.00</span> -
                                    <span class="price">$29.99</span>
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=60-70">
                                    <span class="price">$60.00</span> -
                                    <span class="price">$69.99</span>
								<span class="count">8<span class="filter-count-label">
								items</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=70-">
                                    <span class="price">$70.00</span> and above
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                        </ol>
                    </div>
                </div>
                <div class="filter-options-item" data-collapsible="true" data-role="collapsible" role="presentation">
                    <div aria-expanded="false" aria-selected="false" class="filter-options-title" data-role="title"
                         role="tab" tabindex="0">
                        Best Sellers
                    </div>
                    <div aria-hidden="true" class="filter-options-content" data-role="content" role="tabpanel"
                         style="display: none;">
                        <ol class="items">
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=20-30">
                                    <span class="price">$20.00</span> -
                                    <span class="price">$29.99</span>
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=60-70">
                                    <span class="price">$60.00</span> -
                                    <span class="price">$69.99</span>
								<span class="count">8<span class="filter-count-label">
								items</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=70-">
                                    <span class="price">$70.00</span> and above
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                        </ol>
                    </div>
                </div>
                <div class="filter-options-item" data-collapsible="true" data-role="collapsible" role="presentation">
                    <div aria-expanded="false" aria-selected="false" class="filter-options-title" data-role="title"
                         role="tab" tabindex="0">
                        Season
                    </div>
                    <div aria-hidden="true" class="filter-options-content" data-role="content" role="tabpanel"
                         style="display: none;">
                        <ol class="items">
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=20-30">
                                    <span class="price">$20.00</span> -
                                    <span class="price">$29.99</span>
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=60-70">
                                    <span class="price">$60.00</span> -
                                    <span class="price">$69.99</span>
								<span class="count">8<span class="filter-count-label">
								items</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=70-">
                                    <span class="price">$70.00</span> and above
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                        </ol>
                    </div>
                </div>
                <div class="filter-options-item" data-collapsible="true" data-role="collapsible" role="presentation">
                    <div aria-expanded="false" aria-selected="false" class="filter-options-title" data-role="title"
                         role="tab" tabindex="0">
                        Favourites
                    </div>
                    <div aria-hidden="true" class="filter-options-content" data-role="content" role="tabpanel"
                         style="display: none;">
                        <ol class="items">
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=20-30">
                                    <span class="price">$20.00</span> -
                                    <span class="price">$29.99</span>
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=60-70">
                                    <span class="price">$60.00</span> -
                                    <span class="price">$69.99</span>
								<span class="count">8<span class="filter-count-label">
								items</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=70-">
                                    <span class="price">$70.00</span> and above
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                        </ol>
                    </div>
                </div>
                <div class="filter-options-item" data-collapsible="true" data-role="collapsible" role="presentation">
                    <div aria-expanded="false" aria-selected="false" class="filter-options-title" data-role="title"
                         role="tab" tabindex="0">
                        Color
                    </div>
                    <div aria-hidden="true" class="filter-options-content" data-role="content" role="tabpanel"
                         style="display: none;">
                        <div attribute-code="color" attribute-id="93" class="swatch-attribute swatch-layered color">
                            <div class="swatch-attribute-options clearfix">
                                <a class="swatch-option-link-layered"
                                   href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?color=10">
                                    <div class="swatch-option color " option-id="10" option-label="Multi"
                                         option-tooltip-thumb="" option-tooltip-value="#ffffff" option-type="1"
                                         style="background: #ffffff no-repeat center; background-size: initial;">
                                    </div>
                                </a>
                                <a class="swatch-option-link-layered"
                                   href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?color=11">
                                    <div class="swatch-option color " option-id="11" option-label="Orange"
                                         option-tooltip-thumb="" option-tooltip-value="#eb6703" option-type="1"
                                         style="background: #eb6703 no-repeat center; background-size: initial;">
                                    </div>
                                </a>
                                <a class="swatch-option-link-layered"
                                   href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?color=14">
                                    <div class="swatch-option color " option-id="14" option-label="White"
                                         option-tooltip-thumb="" option-tooltip-value="#ffffff" option-type="1"
                                         style="background: #ffffff no-repeat center; background-size: initial;">
                                    </div>
                                </a>
                                <a class="swatch-option-link-layered"
                                   href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?color=15">
                                    <div class="swatch-option color " option-id="15" option-label="Yellow"
                                         option-tooltip-thumb="" option-tooltip-value="#ffd500" option-type="1"
                                         style="background: #ffd500 no-repeat center; background-size: initial;">
                                    </div>
                                </a></div>
                        </div>
                        <script>
                            require(["jquery", "jquery/ui", "Magento_Swatches/js/swatch-renderer"], function ($) {
                                $('.swatch-layered.color')
                                        .find('[option-type="1"], [option-type="2"], [option-type="0"], [option-type="3"]')
                                        .SwatchRendererTooltip();
                            });
                        </script>
                    </div>
                </div>
                <div class="filter-options-item" data-collapsible="true" data-role="collapsible" role="presentation">
                    <div aria-expanded="false" aria-selected="false" class="filter-options-title" data-role="title"
                         role="tab" tabindex="0">
                        Grower
                    </div>
                    <div aria-hidden="true" class="filter-options-content" data-role="content" role="tabpanel"
                         style="display: none;">
                        <ol class="items">
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?manufacturer=16">
                                    Adidas <span class="count">8<span class="filter-count-label">
								items</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?manufacturer=20">
                                    Gabbana <span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?manufacturer=21">
                                    Nike <span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                        </ol>
                    </div>
                </div>
                <div class="filter-options-item" data-collapsible="true" data-role="collapsible" role="presentation">
                    <div aria-expanded="false" aria-selected="false" class="filter-options-title" data-role="title"
                         role="tab" tabindex="0">
                        Breeder
                    </div>
                    <div aria-hidden="true" class="filter-options-content" data-role="content" role="tabpanel"
                         style="display: none;">
                        <ol class="items">
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=20-30">
                                    <span class="price">$20.00</span> -
                                    <span class="price">$29.99</span>
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=60-70">
                                    <span class="price">$60.00</span> -
                                    <span class="price">$69.99</span>
								<span class="count">8<span class="filter-count-label">
								items</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=70-">
                                    <span class="price">$70.00</span> and above
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                        </ol>
                    </div>
                </div>

                <div class="filter-options-item" data-collapsible="true" data-role="collapsible" role="presentation">
                    <div aria-expanded="false" aria-selected="false" class="filter-options-title" data-role="title"
                         role="tab" tabindex="0">
                        Price
                    </div>
                    <div aria-hidden="true" class="filter-options-content" data-role="content" role="tabpanel"
                         style="display: none;">
                        <ol class="items">
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=20-30">
                                    <span class="price">$20.00</span> -
                                    <span class="price">$29.99</span>
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=60-70">
                                    <span class="price">$60.00</span> -
                                    <span class="price">$69.99</span>
								<span class="count">8<span class="filter-count-label">
								items</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=70-">
                                    <span class="price">$70.00</span> and above
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                        </ol>
                    </div>

                </div>
                <div class="filter-options-item" data-collapsible="true" data-role="collapsible" role="presentation">
                    <div aria-expanded="false" aria-selected="false" class="filter-options-title" data-role="title"
                         role="tab" tabindex="0">
                        Country
                    </div>
                    <div aria-hidden="true" class="filter-options-content" data-role="content" role="tabpanel"
                         style="display: none;">
                        <ol class="items">
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=20-30">
                                    <span class="price">$20.00</span> -
                                    <span class="price">$29.99</span>
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=60-70">
                                    <span class="price">$60.00</span> -
                                    <span class="price">$69.99</span>
								<span class="count">8<span class="filter-count-label">
								items</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=70-">
                                    <span class="price">$70.00</span> and above
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                        </ol>
                    </div>
                </div>
                <div class="filter-options-item" data-collapsible="true" data-role="collapsible" role="presentation">
                    <div aria-expanded="false" aria-selected="false" class="filter-options-title" data-role="title"
                         role="tab" tabindex="0">
                        Vaselife
                    </div>
                    <div aria-hidden="true" class="filter-options-content" data-role="content" role="tabpanel"
                         style="display: none;">
                        <ol class="items">
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=20-30">
                                    <span class="price">$20.00</span> -
                                    <span class="price">$29.99</span>
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=60-70">
                                    <span class="price">$60.00</span> -
                                    <span class="price">$69.99</span>
								<span class="count">8<span class="filter-count-label">
								items</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=70-">
                                    <span class="price">$70.00</span> and above
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                        </ol>
                    </div>
                </div>
                <div class="filter-options-item" data-collapsible="true" data-role="collapsible" role="presentation">
                    <div aria-expanded="false" aria-selected="false" class="filter-options-title" data-role="title"
                         role="tab" tabindex="0">
                        Stem Length
                    </div>
                    <div aria-hidden="true" class="filter-options-content" data-role="content" role="tabpanel"
                         style="display: none;">
                        <ol class="items">
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=20-30">
                                    <span class="price">$20.00</span> -
                                    <span class="price">$29.99</span>
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=60-70">
                                    <span class="price">$60.00</span> -
                                    <span class="price">$69.99</span>
								<span class="count">8<span class="filter-count-label">
								items</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=70-">
                                    <span class="price">$70.00</span> and above
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                        </ol>
                    </div>
                </div>
                <div class="filter-options-item" data-collapsible="true" data-role="collapsible" role="presentation">
                    <div aria-expanded="false" aria-selected="false" class="filter-options-title" data-role="title"
                         role="tab" tabindex="0">
                        Headsize
                    </div>
                    <div aria-hidden="true" class="filter-options-content" data-role="content" role="tabpanel"
                         style="display: none;">
                        <ol class="items">
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=20-30">
                                    <span class="price">$20.00</span> -
                                    <span class="price">$29.99</span>
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=60-70">
                                    <span class="price">$60.00</span> -
                                    <span class="price">$69.99</span>
								<span class="count">8<span class="filter-count-label">
								items</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=70-">
                                    <span class="price">$70.00</span> and above
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                        </ol>
                    </div>
                </div>
                <div class="filter-options-item" data-collapsible="true" data-role="collapsible" role="presentation">
                    <div aria-expanded="false" aria-selected="false" class="filter-options-title" data-role="title"
                         role="tab" tabindex="0">
                        Quality
                    </div>
                    <div aria-hidden="true" class="filter-options-content" data-role="content" role="tabpanel"
                         style="display: none;">
                        <ol class="items">
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=20-30">
                                    <span class="price">$20.00</span> -
                                    <span class="price">$29.99</span>
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=60-70">
                                    <span class="price">$60.00</span> -
                                    <span class="price">$69.99</span>
								<span class="count">8<span class="filter-count-label">
								items</span></span> </a></li>
                            <li class="item">
                                <a href="http://plazathemes.com/demo/presiden/english11/short-sleeve.html?price=70-">
                                    <span class="price">$70.00</span> and above
								<span class="count">1<span class="filter-count-label">
								item</span></span> </a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>